[Desktop Entry]
Type=Application
Name=Lock
Comment=Lock the screen now (enter the passcode to unlock)
Exec=/usr/local/bin/dsi-lock-show
Icon=/home/rupal/.local/share/icons/pinet-lock.svg
Terminal=false
Categories=System;
